.blog-header{
    color: $header-color;
    font-family: "Mononoki Bold", "Twitter Color Emoji", "Twemoji", sans-serif;
    font-size: 2em;
    display: inline-flex;
    justify-content: center;
    text-align:center;
    margin: 0 auto;
    margin-top: 32px;

}

.blog-post{
   time{
        font-family: $blog-font;
        display: flex;
        align-content: center;
        justify-content: center;
        font-size: 0.9em;
    }
   padding: 0px 30px;
   font-size: 22px;
   font-family: Ubuntu;
}
