.contacts{
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
}

.contact-link{
  text-decoration: none;
  font-size: 1em;
  color: var(--cyan);
  line-height: 0.8em;
  margin:10px 15px;
  display: block;

}

.copyright{
  font-family: $main-font;
  margin-left: 20px;
}
