<footer>
	<ul class="contacts">
		<li><a href="https://github.com/horhik" class=" contact-link" title="github">
				<pre>
    ┏━╸╻╺┳╸╻ ╻╻ ╻┏┓
    ┃╺┓┃ ┃ ┣━┫┃ ┃┣┻┓
    ┗━┛╹ ╹ ╹ ╹┗━┛┗━┛</pre></a></li>
		<li><a href="https://mastodon.ml/web/accounts/74403" class=" contact-link" title="mastodon: @horhik@mastodon.ml">
				<pre>
        ┏┳┓┏━┓┏━┓╺┳╸┏━┓╺┳┓┏━┓┏┓╻
        ┃┃┃┣━┫┗━┓ ┃ ┃ ┃ ┃┃┃ ┃┃┗┫
        ╹ ╹╹ ╹┗━┛ ╹ ┗━┛╺┻┛┗━┛╹ ╹
                                                     
                                                     </pre></a></li>
		<li><a href="mailto:horhik@tuta.io" class=" contact-link" title="Mail">
				<pre>
    ┏┳┓┏━┓╻╻
    ┃┃┃┣━┫┃┃
    ╹ ╹╹ ╹╹┗━╸</pre></a></li>
	</ul>
	<p class="copyright">&copy;{{ now.Year }} <a href="{{ .Site.BaseURL }}">Horhik</a></p>
</footer>
