
{{$horhik    := "░█░█░▀█▀░░░░░░░▀█▀░▀░█▄█░░░█▀█░░░█░█░█▀█░█▀▄░█░█░▀█▀░█░█\n░█▀█░░█░░░░░░░░░█░░░░█░█░░░█▀█░░░█▀█░█░█░█▀▄░█▀█░░█░░█▀▄\n░▀░▀░▀▀▀░▄▀░░░░▀▀▀░░░▀░▀░░░▀░▀░░░▀░▀░▀▀▀░▀░▀░▀░▀░▀▀▀░▀░▀"}}
{{$home      := "░█▄█░█▀█░▀█▀░█▀█░▄▀░░▀▄░\n░█░█░█▀█░░█░░█░█░█░░░░█░\n░▀░▀░▀░▀░▀▀▀░▀░▀░░▀░░▀░░"}}
{{$portfolio := "░█▀█░█▀█░█▀▄░▀█▀░█▀▀░█▀█░█░░░▀█▀░█▀█\n░█▀▀░█░█░█▀▄░░█░░█▀▀░█░█░█░░░░█░░█░█\n░▀░░░▀▀▀░▀░▀░░▀░░▀░░░▀▀▀░▀▀▀░▀▀▀░▀▀"}}
{{$blog      := "░█▀▄░█░░░█▀█░█▀▀\n ░█▀▄░█░░░█░█░█░█\n ░▀▀░░▀▀▀░▀▀▀░▀▀▀"}}
{{$music      := "░█▄█░█░█░█▀▀░▀█▀░█▀▀\n░█░█░█░█░▀▀█░░█░░█░░\n░▀░▀░▀▀▀░▀▀▀░▀▀▀░▀▀▀"}}
{{$sec       := .FirstSection}}
<header class="logo--wrapper">
  <a href="{{ .Page.URL }}"><pre class="logo toilet-logo" title="Home">{{if eq  .Section "portfolio"}}
      {{$portfolio}}
<!--	<span class="logo-quote">O. George’s works</span> -->
      {{else if eq .Section "posts"}}
      {{$blog}}
			{{else if eq .Section "music"}}
      {{$music}}
  <!--<span class="logo-quote">O. George’s thoughts</span> -->
      {{else}}
      {{$horhik}}
<!--	<span class="logo-quote">O. George’s site</span> -->
      {{end}}
  </pre></a>
	<nav>
		<ul class="page-list">
			{{ range .Site.Sections }}
			<li class="page-link"><a href="{{ .URL | relURL }}">
			    {{ if  eq (title .Section)  "Portfolio"   }}{{$portfolio}}
			    {{ else if eq (title .Section) "Posts"}}{{$blog}}
			    {{ else if eq (title .Section) "Music"}}{{$music}}
			    {{end}}
			</a></li>
			{{ end }}
			{{if ne (title .FirstSection) "Horhik.xyz"}}
			<li class="page-link"><a href="{{.Site.BaseURL}}">
					{{$home}}
				</a></li>
			{{end}}
			
		</ul>
	</nav>
</header>
