<header class="logo--wrapper">
	<a href="{{ .Site.BaseURL }}"><pre class="logo toilet-logo" title="Home">
░█░█░█▀█░█▀▄░█░█░▀█▀░█░█░░░░█░█░█░█░▀▀█
░█▀█░█░█░█▀▄░█▀█░░█░░█▀▄░░░░▄▀▄░░█░░▄▀░
░▀░▀░▀▀▀░▀░▀░▀░▀░▀▀▀░▀░▀░▀░░▀░▀░░▀░░▀▀▀</pre></a>
	<span class="logo-quote">O. George’s site</span>
	<nav>
		<ul class="page-list">
			{{ range .Site.Sections }}
			<li class="page-link"><a href="{{ .URL | relURL }}">
			    {{ if  eq (title .Section)  "Portfolio"}}
░█▀█░█▀█░█▀▄░▀█▀░█▀▀░█▀█░█░░░▀█▀░█▀█
░█▀▀░█░█░█▀▄░░█░░█▀▀░█░█░█░░░░█░░█░█
░▀░░░▀▀▀░▀░▀░░▀░░▀░░░▀▀▀░▀▀▀░▀▀▀░▀▀
			    {{ else if eq (title .Section) "Posts"}}
░█▀▄░█░░░█▀█░█▀▀
░█▀▄░█░░░█░█░█░█
░▀▀░░▀▀▀░▀▀▀░▀▀▀
			    {{end}}
			</a></li>
			{{ end }}
		</ul>
	</nav>
</header>
