@import "variables";
@import "fonts";


body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Ubuntu', sans-serif;
  max-width: 1000px;
  margin: 0 auto;
  box-shadow: 0px -30px 20px rgba(0, 0, 0, 0.34);


}

@media (min-width: 1000px) {
  box-shadow: 4px 4px 32px rgba(0, 0, 0, 0.34);
}

.h1{
  font-family: 'Mononoki Bold', 'Fira Code SemiBold' ;
  font-size: 2em;
}

.App {
}

@import "logo";
@import "elements/page-links";
@import "elements/recent-list";