@font-face {
  font-family: 'Mononoki';
  src: url('fonts/mononoki-Regular.eot');
  src: url('fonts/mononoki-Regular.eot') format('embedded-opentype');
       url('fonts/mononoki-Regular.ttf') format('truetype'),
       url('fonts/mononoki-Regular.woff2') format('woff2'),
       url('fonts/mononoki-Regular.woff') format('woff')
}

@font-face {
  font-family: 'Mononoki Bold';
  src: url('fonts/mononoki-Bold.eot');
  src: url('fonts/mononoki-Bold.eot') format('embedded-opentype');
url('fonts/mononoki-Bold.ttf') format('truetype'),
url('fonts/mononoki-Bold.woff2') format('woff2'),
url('fonts/mononoki-Bold.woff') format('woff')
}

@font-face {
  font-family: 'Mononoki';
  src: url('fonts/mononoki-Regular.eot');
  src: url('fonts/mononoki-Regular.eot') format('embedded-opentype');
url('fonts/mononoki-Regular.ttf') format('truetype'),
url('fonts/mononoki-Regular.woff2') format('woff2'),
url('fonts/mononoki-Regular.woff') format('woff')
}
