:root {
  --background: #282A36 ;
  --comment: #6272A4 ;
  --selection: #44475A ;
  --foreground: #F8F8F2 ;
  --cyan: #8BE9FD ;
  --orange: #FFB86C;
  --green: #50FA7B ;
  --pink: #FF79C6 ;
  --purple: #BD93F9 ;
  --red: #FF5555 ;
  --yellow: #F1FA8C;
}
